@use './variables' as *;

@mixin buttons {
    padding: 14px 25px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    border-radius: 25px;
    background-color: $secondColor;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}

@mixin titles {
    font-size: 60px;
    font-weight: 200;
}

@mixin text {
    font-size: 28px;
    font-weight: 200;
}

@mixin input {
    padding: 10px;
    font-size: 14px;
    border: 0;
    background-color: #F0F2F5;
}