@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

$firstColor: #232323;
$secondColor: #385BCE;
$thirdColor: #FFFFFF;
$fourthColor: #D1D1D1;
$fifthColor: #4ED7A8;
$sixthColor: #FF0000;
$seventhColor: #F09B23;

$container: 20px 115px;
$sectionContainer : 1315px;